scheme/metadatastream.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C XML Schema generated by XMLSpy v2017 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tt="http://www.onvif.org/ver10/schema" xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" targetNamespace="http://www.onvif.org/ver10/schema" elementFormDefault="qualified" version="16.12">
	<xs:include schemaLocation="common.xsd"/>
	<xs:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="http://docs.oasis-open.org/wsn/b-2.xsd"/>
	<!--===============================-->
	<!--       Scene Description       -->
	<!--===============================-->
	<xs:complexType name="Appearance">
		<xs:sequence>
			<xs:element name="Transformation" type="tt:Transformation" minOccurs="0"/>
			<xs:element name="Shape" type="tt:ShapeDescriptor" minOccurs="0"/>
			<xs:element name="Color" type="tt:ColorDescriptor" minOccurs="0"/>
			<xs:element name="Class" type="tt:ClassDescriptor" minOccurs="0"/>
			<xs:element name="Extension" type="tt:AppearanceExtension" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="AppearanceExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShapeDescriptor">
		<xs:sequence>
			<xs:element name="BoundingBox" type="tt:Rectangle"/>
			<xs:element name="CenterOfGravity" type="tt:Vector"/>
			<xs:element name="Polygon" type="tt:Polygon" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Extension" type="tt:ShapeDescriptorExtension" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ShapeDescriptorExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ColorDescriptor">
		<xs:sequence>
			<xs:element name="ColorCluster" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Color" type="tt:Color"/>
						<xs:element name="Weight" type="xs:float" minOccurs="0"/>
						<xs:element name="Covariance" type="tt:ColorCovariance" minOccurs="0"/>
						<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extension" type="tt:ColorDescriptorExtension" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ColorDescriptorExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ClassType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Animal"/>
			<xs:enumeration value="Face"/>
			<xs:enumeration value="Human"/>
			<xs:enumeration value="Vehical"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClassDescriptor">
		<xs:sequence>
			<xs:element name="ClassCandidate" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Type" type="tt:ClassType"/>
						<xs:element name="Likelihood" type="xs:float"/>
						<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extension" type="tt:ClassDescriptorExtension" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClassDescriptorExtension">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OtherTypes" type="tt:OtherType" maxOccurs="unbounded"/>
			<xs:element name="Extension" type="tt:ClassDescriptorExtension2" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClassDescriptorExtension2">
		<xs:sequence>
			<xs:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="OtherType">
		<xs:sequence>
			<xs:element name="Type" type="xs:string">
				<xs:annotation>
					<xs:documentation>Object Class Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Likelihood" type="xs:float">
				<xs:annotation>
					<xs:documentation>A likelihood/probability that the corresponding object belongs to this class. The sum of the likelihoods shall NOT exceed 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##any" processContents="lax" minOccurs="1" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="Object">
		<xs:complexContent>
			<xs:extension base="tt:ObjectId">
				<xs:sequence>
					<xs:element name="Appearance" type="tt:Appearance" minOccurs="0"/>
					<xs:element name="Behaviour" type="tt:Behaviour" minOccurs="0"/>
					<xs:element name="Extension" type="tt:ObjectExtension" minOccurs="0"/>
					<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
				</xs:sequence>
				<xs:anyAttribute processContents="lax"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObjectExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Frame">
		<xs:sequence>
			<xs:element name="PTZStatus" type="tt:PTZStatus" minOccurs="0"/>
			<xs:element name="Transformation" type="tt:Transformation" minOccurs="0"/>
			<xs:element name="Object" type="tt:Object" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ObjectTree" type="tt:ObjectTree" minOccurs="0"/>
			<xs:element name="Extension" type="tt:FrameExtension" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
		<xs:attribute name="UtcTime" type="xs:dateTime" use="required"/>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="FrameExtension">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MotionInCells" type="tt:MotionInCells" minOccurs="0"/>
			<xs:element name="Extension" type="tt:FrameExtension2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FrameExtension2">
		<xs:sequence>
			<xs:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Merge">
		<xs:sequence>
			<xs:element name="from" type="tt:ObjectId" minOccurs="2" maxOccurs="unbounded"/>
			<xs:element name="to" type="tt:ObjectId"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Split">
		<xs:sequence>
			<xs:element name="from" type="tt:ObjectId"/>
			<xs:element name="to" type="tt:ObjectId" minOccurs="2" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Rename">
		<xs:sequence>
			<xs:element name="from" type="tt:ObjectId"/>
			<xs:element name="to" type="tt:ObjectId"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectId">
		<xs:attribute name="ObjectId" type="xs:integer"/>
	</xs:complexType>
	<xs:complexType name="Behaviour">
		<xs:sequence>
			<xs:element name="Removed" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Idle" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Extension" type="tt:BehaviourExtension" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="BehaviourExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObjectTree">
		<xs:sequence>
			<xs:element name="Rename" type="tt:Rename" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Split" type="tt:Split" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Merge" type="tt:Merge" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Delete" type="tt:ObjectId" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Extension" type="tt:ObjectTreeExtension" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="ObjectTreeExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MotionInCells">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
		<xs:attribute name="Columns" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Number of columns of the cell grid (x dimension)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Rows" type="xs:integer" use="required">
			<xs:annotation>
				<xs:documentation>Number of rows of the cell grid (y dimension)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Cells" type="xs:base64Binary" use="required">
			<xs:annotation>
				<xs:documentation>A “1” denotes a cell where motion is detected and a “0” an empty cell. The first cell is in the upper left corner. Then the cell order goes first from left to right and then from up to down.  If the number of cells is not a multiple of 8 the last byte is filled with zeros. The information is run length encoded according to Packbit coding in ISO 12369 (TIFF, Revision 6.0).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<!--===============================-->
	<!--   Metadata Streaming Types    -->
	<!--===============================-->
	<xs:complexType name="MetadataStream">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="VideoAnalytics" type="tt:VideoAnalyticsStream"/>
				<xs:element name="PTZ" type="tt:PTZStream"/>
				<xs:element name="Event" type="tt:EventStream"/>
				<xs:element name="Extension" type="tt:MetadataStreamExtension"/>
				<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
			</xs:choice>
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="MetadataStreamExtension">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AudioAnalyticsStream" type="tt:AudioAnalyticsStream" minOccurs="0"/>
			<xs:element name="Extension" type="tt:MetadataStreamExtension2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MetadataStreamExtension2">
		<xs:sequence>
			<xs:any namespace="##targetNamespace" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="AudioAnalyticsStream">
		<xs:sequence>
			<xs:element name="AudioDescriptor" type="tt:AudioDescriptor" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Extension" type="tt:AudioAnalyticsStreamExtension" minOccurs="0"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="AudioDescriptor">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
		<xs:attribute name="UtcTime" type="xs:dateTime" use="required"/>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="AudioAnalyticsStreamExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
		<xs:anyAttribute processContents="lax"/>
	</xs:complexType>
	<xs:element name="MetadataStream" type="tt:MetadataStream"/>
	<xs:complexType name="VideoAnalyticsStream">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="Frame" type="tt:Frame"/>
			<xs:element name="Extension" type="tt:VideoAnalyticsStreamExtension"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="VideoAnalyticsStreamExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PTZStream">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="PTZStatus" type="tt:PTZStatus"/>
			<xs:element name="Extension" type="tt:PTZStreamExtension"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PTZStreamExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EventStream">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="wsnt:NotificationMessage"/>
			<xs:element name="Extension" type="tt:EventStreamExtension"/>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- reserved for ONVIF -->
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="EventStreamExtension">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>	<!-- first Vendor then ONVIF -->
		</xs:sequence>
	</xs:complexType>
</xs:schema>
